/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29 janv. 2014, 13:52:35
    Author     : NGUETSOP KOMOLO Jérémie <nguetsop.jeremie@gmail.com>
*/

label{
    display: block;
    width: 150px;
    float: left;
}

input{
    width: 200px;
}

select{
    width: 200px;
}