
#top {
    position: relative;
    background-color: #036fab;
    color: white;
    padding: 5px 0px 5px 5px;
    margin: 0px 0px 0px 0px;
    //float: left;
    // width: 100%;
}

#bottom {
    bottom: 0;
    top: auto;
    position: relative;    
    background-color: #fff;
    //padding: 5px;
    //margin: 10px 0px 10px 0px;
    float: left;
    width: -moz-available;
    width: 100%;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 200px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: white;
    //padding: 5px;
    //margin-left: 20px;
    //margin-right: 20px; 
    float: left;
    width: -moz-available;
    width: 100%;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
    color: white;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: black;
    font-weight : bold;
    text-decoration : underline;
}
