<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="./css/default.css"/>
        <h:outputStylesheet name="./css/layout.css"/>
        <h:outputStylesheet name="./css/form.css"/>
        <title>FREELANCERTECH - BASE</title>
    </h:head>

    <h:body style="width: 80%; height: auto; margin: auto;">

        <h:form>
            <div style=" position: relative; background-color: #fff;">            
                <h:link outcome="/index">
                    <p:graphicImage library="images" name="freelancertech.png" style="vertical-align: middle; position: relative; margin-left: 20px; margin-right: 10px;"/>
                </h:link>
                <font style="font-family: sans-serif; vertical-align: middle; font-size: x-large; font-weight: bolder;">FREELANCERTECH - BASE</font>
                   <p align = "right"> 
                       <h:panelGrid columns="2" style="border-spacing: 5px" >
                        <h1>
                            Utilisateur : <b>  #{p:remoteUser()}  </b>
                        </h1>
                        <p:menuButton   value="Mon Profil">

                            <p:menuitem ajax="false" id="deconnexion" value="Deconnexion"
                                        actionListener="#{logoutController.doLogout()}"      action="/?faces-redirect=true" />
                        </p:menuButton>
                       </h:panelGrid>
                    </p>
            </div>
            <p:menubar>
                <p:menuitem value="Accueil |" outcome="/index" icon="ui-icon-home"/> 
                <p:menuitem value="Gestion des Groupes |" outcome="/administration/groupe/index" />
                <p:menuitem value="Gestion des Utilisateurs |" outcome="/administration/utilisateur/index" />
                <p:menuitem value="Configuration" url="#" icon="ui-icon-gear" />
            </p:menubar>

        </h:form>
        <!-- <div id="top">
             <ui:insert name="top">
                 <h:link outcome="/index">Accueil</h:link>
             </ui:insert>
         </div>-->

        <div style="width: -moz-available; width: 100%;">
            <!--
            <div id="left">
                <ui:insert name="left">Left</ui:insert>
            </div>
            -->
            <div id="content" class="center_content">
                <ui:insert name="content">Content</ui:insert>
            </div>
        </div>

        <div id="bottom">
            <ui:insert name="bottom">
                <p align = "right">Copyright &copy; by 2014  <a href="http://www.freelancertech.net" target="_blank">www.freelancertech.net</a></p>
            </ui:insert>
        </div>
    </h:body>
</html>
