<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./../../WEB-INF/templates/default.xhtml">

            <ui:define name="left">
                left
            </ui:define>

            <ui:define name="content">
                <h:form>
                    <p:growl id="msg" showDetail="true" escape="false"/>

                    <p:fieldset legend="Suppression d'un groupe">
                        <h:panelGrid columns="2" styleClass="border:0px;">
                            <p:outputLabel for="txtNom" value="Nom"/>
                            <p:inputText id="txtNom" value="#{groupeController.groupe.nom}" readonly="true"/>

                            <p:outputLabel for="txtLibelle" value="Libell&eacute;"/>
                            <p:inputText id="txtLibelle" value="#{groupeController.groupe.libelle}"/>

                            <p:outputLabel for="txtDescription" value="Description"/>
                            <p:inputText id="txtDescription" value="#{groupeController.groupe.description}" readonly="true"/>

                            <p:outputLabel for="checkBoxActif" value="Actif ?"/>
                            <p:selectBooleanCheckbox id="checkBoxActif" value="#{groupeController.groupe.actif}" disabled="true"/>

                        </h:panelGrid>
                        <p:commandButton ajax="false" value="Return" action="index?faces-redirect=true" styleClass="btn btn-success"/>
                        <p:commandButton ajax="false" value="Delete" action="#{groupeController.performDelete()}" styleClass="btn btn-success"/>
                    </p:fieldset>                    
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>
