<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                template="/WEB-INF/model/template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:pe="http://primefaces.org/ui/extensions">

    <ui:define name="head">
        <style type="text/css">

            .rowPanel{
                vertical-align: top;
            }
        </style>       
    </ui:define>

    <ui:define name="home">
        <h:form>
            <p:commandLink   
                ajax="false" action="/index?faces-redirect=true">
                <img  alt="#{msg['home']}" height="65" src="#{request.contextPath}/resources/images/home.png"/>
            </p:commandLink>    
        </h:form>
    </ui:define>

    <ui:define name="titre">
        #{msg['TitreAdministration']}
    </ui:define>

    <ui:define name="recherche">
    </ui:define>

    <ui:define name="inner"> 
        <h:form id="menuForm">
            <p:outputPanel id="panel">
                <ul id="navigation">
                    <li>
                        <p:commandLink 
                            ajax="false" action="/index?faces-redirect=true">
                            <strong>Retour</strong>
                        </p:commandLink>                
                    </li> 
                    <li>
                        <p:commandLink                                      
                            ajax="false" >
                            <strong>Débuter une année</strong>
                            <f:setPropertyActionListener target="#{administrationView.page}"
                                                         value="#{1}"/>
                            <f:setPropertyActionListener target="#{administrationView.anneeAcademique}"
                                                         value="#{null}"/>
                        </p:commandLink>  
                    </li> 
                    <li>
                        <p:commandLink action="#{administrationView.loadAnneeAcademique()}"                                      
                                       ajax="false" >
                            <strong>Annee Academiques</strong>
                            <f:setPropertyActionListener target="#{administrationView.page}"
                                                         value="#{3}"/>
                        </p:commandLink>  
                    </li> 
                    <li>
                        <p:commandLink                                    
                            ajax="false" >
                            <strong>Gérer les utilisateurs</strong>
                            <f:setPropertyActionListener target="#{administrationView.page}"
                                                         value="#{5}"/>
                        </p:commandLink> 
                    </li>                    
                    <li>
                        <p:commandLink action="articles/index?faces-redirect=true"                                   
                                       ajax="false" >
                            <strong>Gestion des articles</strong>

                        </p:commandLink> 
                    </li> 
                     <li>
                         <p:commandLink action="destinations/index?faces-redirect=true"                                   
                            ajax="false" >
                            <strong>Gestion des destinations</strong>
                            
                        </p:commandLink> 
                    </li>
                    <li>
                        <p:commandLink action="#{administrationView.loadReports()}"                                   
                                       ajax="false" >
                            <strong>Parametres de configuration</strong>
                            <f:setPropertyActionListener target="#{administrationView.page}"
                                                         value="#{6}"/>
                            <f:setPropertyActionListener target="#{administrationView.sousPage}"
                                                         value="#{1}"/>
                        </p:commandLink> 
                    </li> 

                </ul>   
            </p:outputPanel>
        </h:form>
    </ui:define>

    <ui:define name="mainTitle">
        #{msg['TitreAdministration']}
    </ui:define>

    <ui:define name="content">
        <p:outputPanel id="panel"> 
            <ui:include src="admin_#{administrationView.page}.xhtml"/>
        </p:outputPanel>
    </ui:define>
</ui:composition>
