<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">

    <body>

        <ui:composition template="./../../WEB-INF/templates/default.xhtml">

            <ui:define name="left">
                left
            </ui:define>

            <ui:define name="content">
                <h:form>
                    <fieldset>
                        <legend>Enregistrement d'un étudiant</legend>

                        <h:messages/>

                        <h:panelGrid columns="2" styleClass="border:0px;">
                            <p:outputLabel for="txtNom" value="Nom"/>
                            <p:inputText id="txtNom" value="#{etudiantController.etudiant.nom}" required="true"/>

                            <p:outputLabel for="txtPrenom" value="Pr&eacute;nom"/>
                            <p:inputText id="txtPrenom" value="#{etudiantController.etudiant.prenom}"/>

                            <p:outputLabel for="txtMatricule" value="Matricule"/>
                            <p:inputText id="txtMatricule" value="#{etudiantController.etudiant.matricule}" required="true"/>

                            <p:outputLabel for="dteNais" value="Date de naissance"/>
                            <p:calendar showButtonPanel="true" id="dteNais"  pattern="dd/MM/yyyy" value="#{etudiantController.etudiant.dteNais}" required="true"/>

                            <p:outputLabel for="txtLnais" value="Lieu de naissance"/>
                            <p:inputText id="txtLnais" value="#{etudiantController.etudiant.lnais}" required="true"/>

                            <p:outputLabel for="txtEmail" value="Adresse email"/>
                            <p:inputText id="txtEmail" value="#{etudiantController.etudiant.email}" required="true">
                                <f:validator validatorId="com.freelancertech.base.view.validator.EmailValidator"/>
                            </p:inputText>

                            <p:outputLabel for="txtTelephone" value="Numéro de téléphone"/>
                            <p:inputText id="txtTelephone" value="#{etudiantController.etudiant.telephone}" required="true">
                                <f:validator validatorId="com.freelancertech.base.view.validator.PhoneNumberValidator"/>
                            </p:inputText>

                            <p:outputLabel for="txtDesc" value="Description"/>
                            <p:inputTextarea id="txtDesc" value="#{etudiantController.etudiant.description}" required="true"/>

                            <p:outputLabel for="filePhoto" value="Photo"/>
                            <p:fileUpload id="filePhoto" label="Parcourrir" auto="false" 
                                          mode="advanced" allowTypes="/(\.|\/)(gif|jpe?g|png)$/" 
                                          fileUploadListener="#{etudiantController.handlePictureUpload}" sizeLimit="8192"/>
                        </h:panelGrid>
                        <p:commandButton ajax="false" value="Enregistrer" action="#{etudiantController.performCreate()}" styleClass="btn btn-success"/>
                    </fieldset>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>
