<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="./../../WEB-INF/templates/default.xhtml">

        <ui:define name="top">
            Gestion des imprimantes | Configuration
        </ui:define>

        <ui:define name="content">
            <p:outputLabel value="Imprimantes" style="float: none; width: auto;"/><br/>
            <p:outputLabel value="Ajout de nouvelles imprimantes" style="float: none; width: auto;"/><br/>
            <hr/>
            <h:form prependId="false">  
                <p:growl escape="false" showDetail="true" life="10000" severity="info,warn,error"/>

                <p:dataTable value="#{imprimanteController.availables}" var="imprimante" rowKey="#{imprimante.nom}"
                             selection="#{imprimanteController.selecteds}"
                             paginator="true" paginatorPosition="both" rows="10" 
                             sortBy="#{imprimante.nom}" sortOrder="ascending" style="float: left; width: 100%;">

                    <p:column selectionMode="multiple" style="width:2%" />

                    <p:column sortBy="#{imprimante.nom}">
                        <f:facet name="header">
                            <h:outputText value="Nom"/>
                        </f:facet>                        
                        <h:outputText value="#{imprimante.nom}"/>
                    </p:column>

                    <p:column styleClass="wrap" sortBy="#{imprimante.description}">
                        <f:facet name="header">
                            <h:outputText value="Description"/>
                        </f:facet>
                        <h:outputText value="#{imprimante.description}"/>
                    </p:column>

                    <p:column sortBy="#{imprimante.active}">
                        <f:facet name="header">
                            <h:outputText value="Active"/>
                        </f:facet>
                        <h:outputText value="#{imprimante.active}"/>
                    </p:column>
                </p:dataTable>                  
                <br/>
                <p:commandButton ajax="false" action="#{imprimanteController.performCreate()}"  value="Enregistrer"/>
                <br/>
            </h:form>
        </ui:define>
    </ui:composition>
</html>
