<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="./../../WEB-INF/templates/default.xhtml">
        <ui:define name="content">
            <p:growl escape="true" life="10000" showDetail="true" severity="info,warn,error" />
            <h:form>
                <p:panelGrid columns="2">
                    <f:facet name="header">
                        Modification d'une imprimante
                    </f:facet>
                    <p:outputLabel value="Nom : " for="nom" />                    
                    <p:inputText id="nom" value="#{imprimanteController.imprimante.nom}" disabled="true"/>

                    <p:outputLabel value="Description : " for="description" />
                    <p:inputTextarea  id="description" value="#{imprimanteController.imprimante.description}"/> 

                    <p:outputLabel for="active" value="Active : "/>
                    <p:selectBooleanCheckbox id="active" value="#{imprimanteController.imprimante.active}"/>
                </p:panelGrid>
                <p:commandButton ajax="false" action="#{imprimanteController.performEdit()}"  value="Enregistrer"/>                                     
            </h:form>
        </ui:define>
    </ui:composition>
</html>
