<!--
Page qui permet d'uploader la copie de l'enseignant et de la traiter
-->

<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="./../../WEB-INF/templates/default.xhtml">
        <ui:define name="top">
            Gestion des Unités d'Enseignement | Configuration
        </ui:define>

        <ui:define name="content">
            <p:outputLabel value="&Eacute;preuve > #{epreuveController.epreuve.matiere.code} (#{epreuveController.epreuve.matiere.nom})" style="float: none; width: auto;"/><br/>
            <p:outputLabel value="#{epreuveController.epreuve.matiere.code} (S&ea&eacute;ssion de #{epreuveController.epreuve.mois.label} #{epreuveController.epreuve.annee})" style="float: none; width: auto;"/><br/>

            <p:growl escape="false" showDetail="true" life="1000" severity="info,warn,error"/>

            <h:form>
                <div style="float: right;">
                    <h:link value="&lt; Retour à la liste" outcome="index"/> | 
                    <h:link value="Editer" outcome="edit"/>
                </div>
                <div style="border-width: 2px;">
                    <p:commandLink ajax="false" value="Editer les copies" action="copies?faces-redirect=true"/> | 
                    <p:commandLink ajax="false"  value="Feuille de correction" action="#{correctionController.gotoFeuilleCorrection()}" /> | 
                    <p:commandLink ajax="false" value="Correction et r&eacute;sultats" action="#{epreuveController.gotoCorrection()}"/>
                </div>
                <p>
                    <h:outputLabel value="Mati&e&egrave;re : " for="matiere" />    
                    <h:outputText id="matiere" value="#{epreuveController.epreuve.matiere}" converter="#{matiereConverter}"/>
                </p>

                <p>
                    <h:outputLabel value="Date de passage : " for="date" />
                    <h:outputText id="date" value="#{epreuveController.epreuve.datePassage}">
                        <f:convertDateTime type="date" pattern="dd/MM/yyyy" />
                    </h:outputText>
                </p>

                <p>
                    <h:outputLabel for="annee" value="Ann&ea&eacute;e : "/>
                    <h:outputText id="annee" value="#{epreuveController.epreuve.annee}">
                        <f:convertNumber groupingUsed="false" type="number" />
                    </h:outputText>
                </p>

                <p>
                    <h:outputLabel for="mois" value="Mois : "/>
                    <h:outputText id="mois" value="#{epreuveController.epreuve.mois}">
                        <f:converter binding="#{moisConverter}"/>
                    </h:outputText>
                </p>

                <p>
                    <h:outputLabel for="txt_statut" value="Statut : "/>
                    <h:outputText id="txt_statut" value="#{epreuveController.epreuve.statut}" title="Statut de l'&ea&eacute;preuve">
                        <f:converter binding="#{statutEpreuveConverter}"/>
                    </h:outputText>
                </p>
            </h:form>
        </ui:define>
    </ui:composition>
</html>
