<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="./../../WEB-INF/templates/default.xhtml">
        <ui:define name="top">
            Gestion des Unités d'Enseignement | Configuration
        </ui:define>

        <ui:define name="content">
            <p:outputLabel value="Epreuve &gt; #{epreuveController.epreuve.matiere.code} (#{epreuveController.epreuve.matiere.nom}) &gt; Feuille de correction : D&eacute;tail" style="float: none; width: auto;"/><br/>
            <p:outputLabel value="#{epreuveController.epreuve.matiere.code} (S&eacute;ssion de #{epreuveController.epreuve.mois.label} #{epreuveController.epreuve.annee}) : Feuille de correction" style="float: none; width: auto;"/><br/>

            <p:growl escape="false" showDetail="true" life="10000" severity="info,warn,error"/>

            <h:form>
                <div style="float: right;">
                    <p:commandButton id="new" value="JPEG" actionListener="#{correctionController.correctionJpeg(event)}" style="width: 100px;"/>
                    <p:commandButton id="pdf" value="PDF" actionListener="#{correctionController.correctionPdf(event)}" style="width: 100px; float: right;"/>
                    <p:commandButton id="excel" value="EXCEL" actionListener="#{correctionController.correctionExcel(event)}" style="width: 100px;"/>
                </div>
                <br/><br/><br/><br/>
                <div>
                    <h:outputLabel value="Nom de l'enseignant : " for="enseignant" style="width: 200px;"/>    
                    <h:outputText id="enseignant" value="#{correctionController.correction.enseignant}"/>
                </div>

                <div>
                    <h:outputLabel value="Email : " for="email" style="width: 200px;"/>
                    <h:commandLink id="email" action="mail" value="#{correctionController.correction.email}"/>
                </div>

                <div>
                    <h:outputLabel for="telephone" value="T&eacute;l&eacute;phone : " style="width: 200px;"/>
                    <h:outputText id="telephone" value="#{correctionController.correction.telephone}"/>
                </div>

                <div>
                    <h:outputLabel for="nombre" value="Nombre de questions : " style="width: 200px;"/>
                    <h:outputText id="nombre" value="#{correctionController.correction.nombre}">
                        <f:convertNumber groupingUsed="true" type="number"/>
                    </h:outputText>
                </div>

                <div>
                    <h:outputLabel for="date_creation" value="Date de cr&eacute;ation : " style="width: 200px;"/>
                    <h:outputText id="date_creation" value="#{correctionController.correction.dateCreation}">
                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                    </h:outputText>
                </div>
                <br/>
                <p:commandButton ajax="false" action="#{correctionController.deleteCorrection}"
                                 value="Supprimer"/>
                <br/><br/>
            </h:form>
        </ui:define>
    </ui:composition>
</html>
