<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
    
    <ui:composition template="./../../WEB-INF/templates/default.xhtml">
        <ui:define name="content">
            <p:messages escape="false"  closable="true" autoUpdate="true" severity="info,warn,error"/>
            <h:form>
                <p:fieldset legend="Création d'un nouvelle epreuve">

                    <p>
                        <h:outputLabel value="Matière : " for="matiere" />
                        <p:selectOneMenu id="matiere" value="#{epreuveController.epreuve.matiere}" converter="#{matiereConverter}">
                            <c:forEach items="#{matiereController.matieres}" var="ma">
                                <f:selectItem itemValue="#{ma}" itemLabel="#{ma.code}"/>
                            </c:forEach>
                        </p:selectOneMenu>
                    </p>

                    <p>
                        <h:outputLabel value="Date de passage : " for="date" />
                        <p:calendar  id="date" value="#{epreuveController.epreuve.datePassage}" title="Exam Date(01/01/2014)"  
                                     required="true" mode="popup" effect="slide"  pattern="dd/MM/yyyy"
                                     showOn="button" navigator="true">
                            <f:convertDateTime type="date" pattern="dd/MM/yyyy" />
                        </p:calendar>  
                    </p>

                    <p>
                        <h:outputLabel for="mois" value="Mois"/>
                        <p:selectOneMenu id="mois" value="#{epreuveController.epreuve.mois}">
                            <c:forEach items="#{applicationController.mois}" var="m">
                                <f:selectItem itemValue="#{m}" itemLabel="#{m.label}"/>
                            </c:forEach>
                        </p:selectOneMenu>
                    </p>

                    <p>
                        <h:outputLabel for="annee" value="Année"/>
                        <p:spinner id="annee" min="2014" value="#{epreuveController.epreuve.annee}">
                            <f:convertNumber groupingUsed="false" type="number" />
                        </p:spinner>
                    </p>

                    <p>
                        <h:outputLabel for="txt_statut" value="Statut :"/>
                        <h:outputText id="txt_statut" value="#{epreuveController.epreuve.statut}" title="Statut de l'epreuve">
                            <f:converter binding="#{statutEpreuveConverter}"/>
                        </h:outputText>
                    </p>

                    <p>
                        <h:outputLabel for="txt_nombre_questions" value="Nombre de questions :"/>
                        <h:inputText id="txt_nombre_questions" value="#{epreuveController.epreuve.nombreQuestions}" title="Nombre de questions de l'epreuve">
                            <f:convertNumber type="number" integerOnly="true"/>
                        </h:inputText>
                    </p>

                    <p:commandButton action="#{epreuveController.performCreate()}"  value="Enregistrer"/>                                     
                    <br/>
                    <h:commandLink action="index?faces-redirect=true" value="Toutes les Epreuves" immediate="true"/>   
                </p:fieldset>
            </h:form>
        </ui:define>
    </ui:composition>
</html>
