<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="./../../WEB-INF/templates/default.xhtml">
        <ui:define name="content">
            <p:messages escape="false"  closable="true" autoUpdate="true" severity="info,warn,error"/>
            <h:form>
                <p:panelGrid columns="2">
                    <f:facet name="header">
                        Suppression d'une &eacute;preuve
                    </f:facet>
                    <h:outputLabel value="Mati&egrave;re : " for="matiere" />    
                    <h:outputText id="matiere" value="#{epreuveController.epreuve.matiere}" converter="#{matiereConverter}"/>

                    <h:outputLabel value="Date de passage : " for="date" />
                    <h:outputText id="date" value="#{epreuveController.epreuve.datePassage}">
                        <f:convertDateTime type="date" pattern="dd/MM/yyyy" />
                    </h:outputText>

                    <h:outputLabel for="annee" value="Ann&e&eacute;e : "/>
                    <h:outputText id="annee" value="#{epreuveController.epreuve.annee}">
                        <f:convertNumber groupingUsed="false" type="number" />
                    </h:outputText>

                    <h:outputLabel for="mois" value="Mois : "/>
                    <h:outputText id="mois" value="#{epreuveController.epreuve.mois}">
                        <f:converter binding="#{moisConverter}"/>
                    </h:outputText>

                    <h:outputLabel for="txt_statut" value="Statut : "/>
                    <h:outputText id="txt_statut" value="#{epreuveController.epreuve.statut}" title="Statut de l'&e&eacute;preuve">
                        <f:converter binding="#{statutEpreuveConverter}"/>
                    </h:outputText>

                </p:panelGrid>
                <br/>
                <p:commandButton ajax="false" value="Supprimer" action="#{epreuveController.performDelete()}"/>
                <h:commandLink action="index?faces-redirect=true" value="Toutes les &Eacute;preuves" immediate="true"/>               
            </h:form>
        </ui:define>
    </ui:composition>
</html>
