<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="./../../WEB-INF/templates/default.xhtml">

        <ui:define name="top">
            Gestion des épreuves | Configuration
        </ui:define>

        <ui:define name="content">
            <p:outputLabel value="Epreuves" style="float: none; width: auto;"/><br/>
            <p:outputLabel value="Liste des &eacute;preuves" style="float: none; width: auto;"/><br/>
            <hr/>
            <p:growl escape="false" showDetail="true" life="1000" severity="info,warn,error"/>
            <h:form prependId="false">  
                <div style="float: right;">
                    <div style="margin-bottom: 5px;">
                        <p:commandButton id="pdf" value="PDF" ajax="false" actionListener="#{epreuveController.pdfList(event)}" style="width: 100px; float: right;"/>
                        <p:commandButton icon="iconExcel" id="excel" value="EXCEL" ajax="false" actionListener="#{epreuveController.excelList(event)}" style="width: 100px;"/>
                    </div>
                    <div style="float: right; display: block; margin-bottom: 20px;">
                        <p:commandButton id="new" value="Nouveau" icon="ui-icon-plus" ajax="false" action="#{epreuveController.create()}" style="width: 210px;"/>
                    </div>
                </div>

                <p:dataTable value="#{epreuveController.epreuves}" var="epreuve" rowKey="#{epreuve.id}"
                             selection="#{epreuveController.epreuve}" selectionMode="single"
                             filteredValue="#{epreuveController.filtereds}"
                             paginator="true" paginatorPosition="both" rows="10" 
                             sortBy="#{epreuve.id}" sortOrder="ascending" style="float: left; width: 100%;">
                    <p:column sortBy="#{epreuve.matiere.code}" filterBy="#{epreuve.matiere.code}" filterMatchMode="startsWith">
                        <f:facet name="header">
                            <h:outputText value="Code UE"/>
                        </f:facet>                        
                        <h:outputText value="#{epreuve.matiere.code}"/>
                    </p:column>

                    <p:column styleClass="wrap" sortBy="#{epreuve.matiere.nom}" filterBy="#{epreuve.matiere.nom}" filterMatchMode="startsWith">
                        <f:facet name="header">
                            <h:outputText value="Nom UE"/>
                        </f:facet>
                        <h:outputText value="#{epreuve.matiere.nom}"/>
                    </p:column>

                    <p:column sortBy="#{epreuve.matiere.niveau}" filterBy="#{epreuve.matiere.niveau}" filterMatchMode="startsWith">
                        <f:facet name="header">
                            <h:outputText value="Niveau"/>
                        </f:facet>
                        <h:outputText value="#{epreuve.matiere.niveau}"/>
                    </p:column>

                    <p:column sortBy="#{epreuve.annee}" filterBy="#{epreuve.annee}" filterMatchMode="startsWith">
                        <f:facet name="header">
                            <h:outputText value="Année"/>
                        </f:facet>
                        <h:outputText value="#{epreuve.annee}"/>
                    </p:column>

                    <p:column sortBy="#{epreuve.mois}" filterBy="#{epreuve.mois}" 
                              filterMatchMode="exact" filterOptions="#{epreuveController.moisOptions}">
                        <f:facet name="header">
                            <h:outputText value="Mois"/>
                        </f:facet>
                        <h:outputText value="#{epreuve.mois}">
                            <f:converter binding="#{moisConverter}"/>
                        </h:outputText>
                    </p:column>

                    <p:column sortBy="#{epreuve.nombreQuestions}" filterBy="#{epreuve.nombreQuestions}">
                        <f:facet name="header">
                            <h:outputText value="Nombre de questions"/>
                        </f:facet>
                        <h:outputText value="#{epreuve.nombreQuestions}">
                            <f:convertNumber type="number" integerOnly="true" groupingUsed="true"/>
                        </h:outputText>
                    </p:column>

                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Date de passage"/>
                        </f:facet>
                        <h:outputText value="#{epreuve.datePassage}">
                            <f:convertDateTime type="date" pattern="dd/MM/yyyy" />
                        </h:outputText>
                    </p:column>

                    <p:column sortBy="#{epreuve.statut}" filterBy="#{epreuve.statut}" 
                              filterMatchMode="exact" filterOptions="#{epreuveController.statutOptions}">
                        <f:facet name="header">
                            <h:outputText value="Statut"/>
                        </f:facet>
                        <h:outputText value="#{epreuve.statut}">
                            <f:converter binding="#{statutEpreuveConverter}"/>
                        </h:outputText>
                    </p:column>

                    <!--
                    <p:column sortBy="#{epreuve.dateCreation}">
                        <f:facet name="header">
                            <h:outputText value="Date de création"/>
                        </f:facet>
                        <h:outputText value="#{epreuve.dateCreation}">
                            <f:convertDateTime type="both" pattern="dd/MM/yyyy kk:mm:ss"/>
                        </h:outputText>
                    </p:column>

                    <p:column sortBy="#{epreuve.dateModification}">
                        <f:facet name="header">
                            <h:outputText value="Date de modification"/>
                        </f:facet>
                        <h:outputText value="#{epreuve.dateModification}">
                            <f:convertDateTime type="both" pattern="dd/MM/yyyy kk:mm:ss"/>
                        </h:outputText>
                    </p:column>
                    -->

                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Actions"/>
                        </f:facet>
                        <h:commandLink action="#{epreuveController.view()}" value="Voir">
                            <f:setPropertyActionListener value="#{epreuve}" target="#{epreuveController.epreuve}"/>
                        </h:commandLink>
                        <p:spacer width="4"/>|<p:spacer width="4"/>
                        <h:commandLink  value="Modifier" action="#{epreuveController.edit()}" rendered="#{epreuve.statut eq 'Ouvert'}">
                            <f:setPropertyActionListener value="#{epreuve}" target="#{epreuveController.epreuve}"/>
                        </h:commandLink>
                        <p:spacer width="4"/>|<p:spacer width="4"/>
                        <h:commandLink value="Supprimer" action="#{epreuveController.delete()}" rendered="#{epreuve.statut eq 'Ouvert'}">
                            <f:setPropertyActionListener value="#{epreuve}" target="#{epreuveController.epreuve}"/>
                        </h:commandLink>
                    </p:column>
                </p:dataTable>                  
            </h:form>
        </ui:define>
    </ui:composition>
</html>
