<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="./../../WEB-INF/templates/default.xhtml">
        <ui:define name="top">
            Gestion des Unités d'Enseignement | Configuration
        </ui:define>

        <ui:define name="content">
            <div style="float: none;">
                <p:outputLabel value="Epreuve > #{epreuveController.epreuve.matiere.code} (#{epreuveController.epreuve.matiere.nom}) Affichage des r&eacute;sultats" style="float: none; width: auto;"/><br/>
                <p:outputLabel value="#{epreuveController.epreuve.matiere.code} (S&eacute;ssion de #{epreuveController.epreuve.mois.label} #{epreuveController.epreuve.annee}) : Affichage des r&eacute;sultats" style="float: none; width: auto;"/><br/>
            </div>

            <p:growl escape="false" showDetail="true" life="1000" severity="info,warn,error"/>

            <h:form>
                <div style="float: right; display: inline;">
                    <h:link value="&lt; Retour" outcome="view?faces-redirect=true"/>
                </div>
                <br/>

                <div style="border-width: 2px; border-style: solid; vertical-align: middle; padding: 10px 0px 10px 5px;">
                    <p:commandLink ajax="false" value="Editer les copies" action="copies"/> | 
                    <p:commandLink ajax="false"  value="Feuille de correction" action="#{correctionController.gotoFeuilleCorrection()}" /> | 
                    <p:commandLink ajax="false" value="Correction et r&eacute;sultat" action="#{epreuveController.gotoCorrection()}"/>
                </div>

                <div style="float: right;">
                    <div style="margin-bottom: 5px;">
                        <p:commandButton id="pdf" value="PDF" ajax="false" action="#{copieController.pdfList()}" style="width: 100px; float: right;"/>
                        <p:commandButton id="excel" value="EXCEL" ajax="false" action="#{copieController.excelList()}" style="width: 100px;"/>
                    </div>
                </div>

                <p:dataTable value="#{copieController.copies}" var="copie" rowKey="#{copie.id}"
                             selection="#{copieController.copie}" selectionMode="single"
                             filteredValue="#{copieController.filtereds}"
                             paginator="true" paginatorPosition="both" rows="10" 
                             sortBy="#{copie.id}" sortOrder="ascending" style="float: left; width: 100%;">
                    <p:column sortBy="#{copie.code}" filterBy="#{copie.code}" filterMatchMode="startsWith">
                        <f:facet name="header">
                            <h:outputText value="Anonymat"/>
                        </f:facet>                        
                        <h:outputText value="#{copie.code}"/>
                    </p:column>

                    <p:column styleClass="wrap" sortBy="#{copie.note}" filterBy="#{copie.note}" filterMatchMode="exact">
                        <f:facet name="header">
                            <h:outputText value="Note"/>
                        </f:facet>
                        <h:outputText value="#{copie.note}"/>
                    </p:column>

                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Actions"/>
                        </f:facet>
                        <h:commandLink action="#{copieController.jpeg()}" value="JPG">
                            <f:setPropertyActionListener value="#{copie}" target="#{copieController.copie}"/>
                        </h:commandLink>
                        <p:spacer width="4"/>|<p:spacer width="4"/>
                        <h:commandLink  value="PDF" action="#{copieController.pdf()}">
                            <f:setPropertyActionListener value="#{copie}" target="#{copieController.copie}"/>
                        </h:commandLink>
                        <p:spacer width="4"/>|<p:spacer width="4"/>
                        <h:commandLink value="Recorriger" action="#{copieController.recorriger()}">
                            <f:setPropertyActionListener value="#{copie}" target="#{copieController.copie}"/>
                        </h:commandLink>
                    </p:column>
                </p:dataTable>                  
            </h:form>
        </ui:define>
    </ui:composition>
</html>
