<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../../WEB-INF/templates/default.xhtml">

            <ui:define name="left">
                left
            </ui:define>

            <ui:define name="content">
                <h:form>
                    <p:growl id="msg" showDetail="true" escape="false"/>

                    <p:fieldset legend="Modification d'un utilisateur">
                        <h:panelGrid columns="2" styleClass="border:0px;">
                            <p:outputLabel for="txtNom" value="Nom"/>
                            <p:inputText id="txtNom" value="#{utilisateurController.utilisateur.nom}" required="true"/>

                            <p:outputLabel for="txtPoste" value="Poste"/>
                            <p:inputText id="txtPoste" value="#{utilisateurController.utilisateur.poste}"/>

                            <p:outputLabel for="txtLogin" value="Login"/>
                            <p:inputText id="txtLogin" value="#{utilisateurController.utilisateur.login}" required="true"/>

                            <p:outputLabel for="checkBoxStatus" value="Status ?"/>
                            <p:selectBooleanCheckbox id="checkBoxStatus" value="#{utilisateurController.utilisateur.status}" required="true"/>

                            <p:outputLabel for="checkBoxEnabled" value="Enabled ?"/>
                            <p:selectBooleanCheckbox id="checkBoxEnabled" value="#{utilisateurController.utilisateur.enabled}" required="true"/>

                            <p:outputLabel for="checkBoxExpired" value="Expired ?"/>
                            <p:selectBooleanCheckbox id="checkBoxExpired" value="#{utilisateurController.utilisateur.expired}" required="true"/>

                            <p:outputLabel for="txtNiveau" value="Niveau"/>
                            <p:spinner id="txtNiveau" value="#{utilisateurController.utilisateur.niveau}" min="1" max="10" required="true"/>

                            <p:outputLabel for="pickGroupe" value="Groupe"/>
                            <p:pickList id="pickGroupe" value="#{utilisateurController.pickListGroupes}" var="groupe"
                                        effect="bounce" itemValue="#{groupe}" itemLabel="#{groupe.libelle}" 
                                        converter="#{groupeConverter}"  showSourceFilter="true"
                                        showTargetFilter="true" showSourceControls="true" showTargetControls="true">

                                <f:facet name="sourceCaption">Disponibles</f:facet>
                                <f:facet name="targetCaption">Selectionnés</f:facet>

                                <p:ajax event="transfer" listener="#{utilisateurController.onTransfer}" update="msg"/>

                                <p:column>
                                    #{groupe.libelle}
                                </p:column>
                            </p:pickList>                        
                        </h:panelGrid>
                        <p:commandButton ajax="false" value="Enregistrer" action="#{utilisateurController.performEdit()}" styleClass="btn btn-success"/>
                    </p:fieldset>
                </h:form>
            </ui:define>
        </ui:composition>

    </body>
</html>
