<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./../../WEB-INF/templates/default.xhtml">

            <ui:define name="content">
                <p:outputPanel>
                    <h:form id="formUtilisateurs">
                        <p:dataTable value="#{utilisateurController.utilisateurs}" var="utilisateur"
                                     widgetVar="tableUtilisateur" emptyMessage="Aucun utilisateur trouvé"
                                     filteredValue="#{utilisateurController.filtereds}"
                                     selectionMode="single" rowKey="#{utilisateur.login}"
                                     selection="#{utilisateurController.utilisateur}">

                            <f:facet name="header">
                                <p:outputPanel>
                                    <h:outputText value="Search all fields:" />
                                    <p:inputText id="globalFilter" onkeyup="PF('tableUtilisateur').filter()" style="width:150px" placeholder="Enter keyword"/>
                                </p:outputPanel>
                            </f:facet>

                            <p:column headerText="Login" filterBy="#{utilisateur.login}" filterMatchMode="startsWith">
                                <h:outputText value="#{utilisateur.login}"/>
                            </p:column>

                            <p:column headerText="Nom" filterBy="#{utilisateur.nom}" filterMatchMode="contains">
                                <h:outputText value="#{utilisateur.nom}"/>
                            </p:column>

                            <p:column headerText="Statut">
                                <p:selectBooleanCheckbox value="#{utilisateur.status}" disabled="true"/>
                            </p:column>

                            <p:column headerText="Date de création">  
                                <h:outputText value="#{utilisateur.dateCre}">
                                    <f:convertDateTime type="date" pattern="dd/MM/yyyy"/>
                                </h:outputText>
                            </p:column>  

                            <p:column headerText="Date de modification">  
                                <h:outputText value="#{utilisateur.dateMaj}">
                                    <f:convertDateTime type="date" pattern="dd/MM/yyyy"/>
                                </h:outputText>
                            </p:column>  

                            <f:facet name="footer">  
                                <p:commandButton id="new" value="Nouveau" icon="ui-icon-check" ajax="false" action="#{utilisateurController.create()}"/>
                                <p:commandButton id="edit" value="Modifier" icon="ui-icon-edit" ajax="false" action="#{utilisateurController.edit()}"/>
                                <p:commandButton id="view" value="Détails" icon="ui-icon-search" ajax="false" action="#{utilisateurController.view()}"/>  
                                <p:commandButton id="delete" value="Supprimer" icon="ui-icon-search" ajax="false" action="#{utilisateurController.delete()}"/>  
                            </f:facet> 
                        </p:dataTable>
                    </h:form>
                </p:outputPanel>
            </ui:define>
        </ui:composition>
    </body>
</html>
