<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./../../WEB-INF/templates/default.xhtml">

            <ui:define name="left">
                left
            </ui:define>

            <ui:define name="content">
                <h:form>
                    <p:fieldset legend="D&eacute;tails sur un utilisateur">
                        <p:growl id="msg" showDetail="true" escape="false"/>

                        <h:panelGrid columns="2" styleClass="border:0px;">
                            <p:outputLabel for="txtNom" value="Nom"/>
                            <p:inputText id="txtNom" value="#{utilisateurController.utilisateur.nom}" readonly="true"/>

                            <p:outputLabel for="txtPoste" value="Poste"/>
                            <p:inputText id="txtPoste" value="#{utilisateurController.utilisateur.poste}" readonly="true"/>

                            <p:outputLabel for="txtLogin" value="Login"/>
                            <p:inputText id="txtLogin" value="#{utilisateurController.utilisateur.login}" readonly="true"/>

                            <p:outputLabel for="checkBoxStatus" value="Status ?"/>
                            <p:selectBooleanCheckbox id="checkBoxStatus" value="#{utilisateurController.utilisateur.status}" disabled="true"/>

                            <p:outputLabel for="checkBoxEnabled" value="Enabled ?"/>
                            <p:selectBooleanCheckbox id="checkBoxEnabled" value="#{utilisateurController.utilisateur.enabled}" disabled="true"/>

                            <p:outputLabel for="checkBoxExpired" value="Expired ?"/>
                            <p:selectBooleanCheckbox id="checkBoxExpired" value="#{utilisateurController.utilisateur.expired}" disabled="true"/>

                            <p:outputLabel for="txtNiveau" value="Niveau"/>
                            <p:spinner id="txtNiveau" value="#{utilisateurController.utilisateur.niveau}" readonly="true"/>

                            <p:outputLabel for="listGroupe" value="Groupe"/>
                            <p:dataList id="listGroupe" value="#{utilisateurController.pickListGroupes.target}" var="groupe" type="ordered">
                                #{groupe.libelle}
                            </p:dataList>                            
                        </h:panelGrid>
                        <p:commandButton ajax="false" value="Return" action="index?faces-redirect=true" styleClass="btn btn-success"/>
                    </p:fieldset>
                </h:form>
            </ui:define>

        </ui:composition>
    </body>
</html>
