<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Statistiques</title>
        <link rel="stylesheet" href="#{request.contextPath}/resources/css/style.css" type="text/css"/>
        <link rel="stylesheet" href="#{request.contextPath}/resources/css/newstyle.css" type="text/css"/>
        <link rel="shortcut icon" href="#{request.contextPath}/resources/icons/favicon.ico"/>
    </h:head>
    <h:body>       
        <div class="wrapper">
            <div class="container wrapper vertical_spacer">
                <p:outputPanel id="mainPanel">
                    <ui:include src="form/access.xhtml"/> 
                </p:outputPanel>
            </div>
        </div> 
    </h:body>
</html>
