<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="./../../WEB-INF/templates/default.xhtml">
        <ui:define name="content">
            <p:messages escape="false" closable="true" severity="info,warn,error"/>
            <h:form>
                <p:panelGrid columns="2">
                    <f:facet name="header">
                        Modifier Cette Matière
                    </f:facet>

                    <h:outputLabel value="Code de la Matière" for="code" />
                    <h:inputText id="code" value="#{matiereController.matiere.code}" title="Code de la Matière" required="true" readonly="true"/>

                    <h:outputLabel value="Nom" for="nom" />
                    <h:inputText id="nom" value="#{matiereController.matiere.nom}" title="Nom de la Matière" required="true"/>

                    <h:outputLabel value="Niveau" for="niveau" />
                    <p:spinner id="niveau" value="#{matiereController.matiere.niveau}" min="1" max="9" title="Niveau de la Matière" required="true"/>
                </p:panelGrid>
                <p:commandButton action="#{matiereController.performEdit()}" value="Enregistrer"/>                     
                <br/>
                <br />
                <h:commandLink action="index?faces-redirect=true" value="Toute les  Matières" immediate="true"/>
            </h:form>
        </ui:define>
    </ui:composition>
</html>
