<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="./../../WEB-INF/templates/default.xhtml">
        <ui:define name="top">
            Gestion des Unités d'Enseignement | Configuration
        </ui:define>

        <ui:define name="content">
            <p:outputLabel value="Unités d'Enseignements" style="float: none; width: auto;"/><br/>
            <p:outputLabel value="Liste des Unités d'Enseignements" style="float: none; width: auto;"/><br/>
            <hr/>
            <p:growl escape="false" showDetail="true" life="1000" severity="info,warn,error"/>
            <h:form prependId="false">
                <div style="float: right;">                    
                    <div style="margin-bottom: 5px;">
                        <p:commandButton id="pdf" value="PDF" ajax="false" actionListener="#{matiereController.pdfList(event)}" style="width: 100px; float: right;"/>
                        <p:commandButton icon="iconExcel" ajax="false"  id="excel" value="EXCEL" actionListener="#{matiereController.excelList(event)}" style="width: 100px;"/>
                    </div>
                    <div style="float: right; display: block; margin-bottom: 20px;">
                        <p:commandButton id="new" value="Nouveau" icon="ui-icon-plus" ajax="false" action="#{matiereController.create()}" style="width: 210px;"/>
                    </div>
                </div>

                <p:dataTable value="#{matiereController.matieres}" var="matiere" 
                             rowKey="#{matiere.id}" filteredValue="#{matiereController.filtereds}"
                             emptyMessage="Aucune matière trouvée."
                             selection="#{matiereController.matiere}" selectionMode="single"  
                             paginator="true" paginatorPosition="bottom" rows="10" 
                             sortBy="#{matiere.code}" sortOrder="ascending" style="float: left; width: 100%;">

                    <p:column width="8%" sortBy="#{matiere.code}" filterBy="#{matiere.code}" filterMatchMode="startsWith">
                        <f:facet name="header">
                            <h:outputText value="Code"/>
                        </f:facet>                        
                        <h:outputText value="#{matiere.code}"/>
                    </p:column>

                    <p:column  sortBy="#{matiere.nom}" filterBy="#{matiere.nom}" filterMatchMode="contains">
                        <f:facet name="header">
                            <h:outputText value="Nom"/>
                        </f:facet>
                        <h:outputText value="#{matiere.nom}"/>
                    </p:column>

                    <p:column width="2%" sortBy="#{matiere.niveau}" filterBy="#{matiere.niveau}">
                        <f:facet name="header">
                            <h:outputText value="Niveau"/>
                        </f:facet>
                        <h:outputText value="#{matiere.niveau}">
                            <f:convertNumber type="number" groupingUsed="false" />
                        </h:outputText>
                    </p:column>

                    <p:column width="10%" sortBy="#{matiere.dateCreation}">
                        <f:facet name="header">
                            <h:outputText value="Date de création"/>
                        </f:facet>
                        <h:outputText value="#{matiere.dateCreation}">
                            <f:convertDateTime type="both" pattern="dd/MM/yyyy kk:mm:ss"/>
                        </h:outputText>
                    </p:column>

                    <p:column width="10%" sortBy="#{matiere.dateModification}">
                        <f:facet name="header">
                            <h:outputText value="Date de modification"/>
                        </f:facet>
                        <h:outputText value="#{matiere.dateModification}">
                            <f:convertDateTime type="both" pattern="dd/MM/yyyy kk:mm:ss"/>
                        </h:outputText>
                    </p:column>

                    <p:column width="10%">
                        <f:facet name="header">
                            <h:outputText value="Actions"/>
                        </f:facet>
                        <h:commandLink action="#{matiereController.view()}" value="Voir">
                            <f:setPropertyActionListener value="#{matiere}" target="#{matiereController.matiere}"/>
                        </h:commandLink>
                        <p:spacer width="4"/>|<p:spacer width="4"/>
                        <h:commandLink  value="Modifier" action="#{matiereController.edit()}">
                            <f:setPropertyActionListener value="#{matiere}" target="#{matiereController.matiere}"/>
                        </h:commandLink>
                        <p:spacer width="4"/>|<p:spacer width="4"/>
                        <h:commandLink value="Supprimer" action="#{matiereController.delete()}">
                            <f:setPropertyActionListener value="#{matiere}" target="#{matiereController.matiere}"/>
                        </h:commandLink>
                    </p:column>                  
                </p:dataTable>
            </h:form>
        </ui:define>
    </ui:composition>
</html>
