<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                template="/WEB-INF/model/template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
     <ui:define name="head">
        <style type="text/css">
            .encours {
                background-color: transparent !important;
                background-image: none !important;
                color: #000000 !important;
            }
            .old {
                background-color: #D7E0EA !important;
                background-image: none !important;
                color: #000000 !important;
            }
        </style>
    </ui:define>
    <ui:define name="titre">
        #{msg['utilisateur.libelle']}
    </ui:define>

    <ui:define name="recherche">
    </ui:define>
    <ui:define name="inner">
        <ul id="navigation">             
            <li><a href="#{request.contextPath}/administrations/utilisateurs/connecter.html">
                    <strong>#{msg['utilisateur.connectes']}</strong></a></li>
        </ul>  
    </ui:define>
    <ui:define name="mainTitle">
        #{msg['utilisateur.libelle']}
    </ui:define>
    <ui:define name="content">
        <h:form>
           <p:growl id="message"/>

                <div align="center">
                    <p:panel header="#{msg['utilisateur.libelle']}">
                        <p:messages />
                        <h:panelGrid columns="2">
                        #{msg['person.nom']}:
                        <p:inputText value="#{acceuilBean.nom}"/>
                        #{msg['utilisateur.login']}:
                        <p:inputText readonly="true" value="#{acceuilBean.login}"/>
                       #{msg['utilisateur.password.old']}:
                       <p:password required="true" requiredMessage="#{msg['required.password.old']}" feedback="false" 
                                   value="#{acceuilBean.passworld}"/>
                        #{msg['utilisateur.password.new']}:
                        <p:password validatorMessage="#{msg['validator.password.confirme']}"   
                                    required="true" requiredMessage="#{msg['required.password.nouveau']}"
                                    id="pwd" match="pwd2" feedback="true" value="#{acceuilBean.passworldNew}"/>
                        #{msg['utils.confirme']} #{msg['utilisateur.password.new']}:
                        <p:password id="pwd2" feedback="false" value="#{acceuilBean.passworldNew}"/>
                        </h:panelGrid>
                        <p:commandButton ajax="false" actionListener="#{acceuilBean.modifier_password}"
                                         value="#{msg['utils.save']}"/>
                        <p:commandButton actionListener="#{acceuilBean.retourne}" value="#{msg['utils.annuler']}"/>
                    </p:panel>
                    </div>
        </h:form>        
        
    </ui:define>

</ui:composition>
